div {
	overflow: auto;
	margin: 0;
}

.home h1 {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 2%;
}

.home .btn {
	margin: 2% 40%;
	width: 20%;
}

.games {
	display: none;
}

.popup {
	background: rgba(0, 0, 0, .4);
	cursor: pointer;
	display: none;
	height: 100%;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 10000;
}

.popup .helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.popup>div {
	background-color: #fff;
	box-shadow: 10px 10px 60px #555;
	display: inline-block;
	height: auto;
	max-width: 551px;
	min-height: 100px;
	vertical-align: middle;
	width: 60%;
	position: relative;
	border-radius: 8px;
	padding: 15px 5%;
}

.popup input {
	margin-bottom: 5%;
}

.current-game {
	display: none;
}

th,
td {
	text-align: center;
	vertical-align: middle !important;
}

.games .btn-dark {
	width: 100%;
}

td div:first-of-type {
	margin-bottom: 2%;
}

td .btn {
	display: block;
}

.header {
	background: #23272b;
	color: #fff;
	border-radius: .25rem;
	overflow: auto;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.header .left {
	width: 20%;
	float: left;
	font-weight: bold;
	font-size: xx-large;
}

.header .right {
	float: right;
	width: 20%;
	text-align: right;
}

.header .right p {
	margin-bottom: 0;
}

.header .right p:first-of-type {
	font-weight: bold;
}

.gameboard {
	background: #20774c;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
	padding: 5%;
	padding-right: 0;
	padding-bottom: 0;
}

.gameboard .dealer-cards {
	margin: 0 auto;
	width: 35%;
	text-align: center;
}


.gameboard .dealer-cards img:first-of-type {
	margin-right: 5%;
}

.gameboard .dealer-cards img {
	width: 29%;
}

.gameboard .other-poeple-cards {
	margin-top: 5%;
}

.gameboard .other-poeple-cards .player img {
	width: 45%;
}

.gameboard .other-poeple-cards .player {
	width: 23%;
	float: left;
	background: #dedede;
	border-radius: .25rem;
	margin: 0 0.5%;
	text-align: center;
	padding: 0.5em;
}

.gameboard .other-poeple-cards .panel .handle-panel {
	background: #dedede;
	border-radius: .25rem;
	height: 10.8em;
	float: right;
	padding: 0.5em;
	width: 11%;
	cursor: pointer;
}

.gameboard .other-poeple-cards .panel .text-panel {
	display: none;
	background: #dedede;
	border-radius: .25rem;
	height: 10.8em;
	float: right;
	padding: 0.5em;
	width: 98%;
	text-align: center;
}

.gameboard .player-cards {
	display: flex;
}

.gameboard .player-cards .center {
	width: 35%;
	margin: 5% auto;
	margin-bottom: 0;
	height: 7.8em;
	overflow: hidden;
	text-align: center;
}

.gameboard .player-cards img {
	width: 41%;
}

.gameboard .player-cards .left,
.gameboard .player-cards .right {
	width: 32.5%;
	vertical-align: bottom;
	margin-bottom: 1em;
}

.gameboard .player-cards .left,
.gameboard .player-cards .center,
.gameboard .player-cards .right {
	float: left;
	align-self: flex-end;
}

.gameboard .player-cards .left .btn {
	width: 37%;
	height: 4em;
	line-height: 3;
}

.gameboard .player-cards .right .btn {
	width: 100%
}

.gameboard .player-cards .right {
	color: #fff;
	padding-left: 5em;
	margin-right: 5%;
}

.unusable {
	opacity: 0.5;
	pointer-events: none;
}

.other-poeple-cards img {
	display: none;
}